/* ### CUSTOM PROPERTIES ### */

:root {
  /* # PRIMARY # */
  --green-500: hsl(163, 72%, 41%);
  --red-500: hsl(356, 69%, 56%);
  /* facebook */
  --blue-600: hsl(208, 92%, 53%);
  /* twitter */
  --blue-500: hsl(203, 89%, 53%);
  /* instagram linear gradient */
  --insta-grd-1: hsl(37, 97%, 70%);
  --insta-grd-2: hsl(5, 77%, 71%);
  --insta-grd-3: hsl(329, 70%, 58%);
  /* youtube */
  --red-700: hsl(348, 97%, 39%);

  /* # DARK THEME # */
  /* bg */
  --gray-950: hsl(230, 17%, 14%);
  /* top bg pattern */
  --gray-900: hsl(232, 19%, 15%);
  /* card bg */
  --navy-950: hsl(228, 28%, 20%);
  /* text */
  --gray-400: hsl(230, 22%, 74%);
  /* text */
  --white: hsl(0, 100%, 100%);
  /* toggle */
  --toggle-grd-1: hsl(210, 79%, 56%);
  --toggle-grd-2: hsl(146, 68%, 55%);

  /* # LIGHT THEME # */
  /* bg */
  --white: hsl(0, 100%, 100%);
  /* top bg pattern */
  --blue-50: hsl(225, 100%, 98%);
  /* card bg */
  --navy-50: hsl(227, 47%, 96%);
  /* text */
  --gray-650: hsl(228, 12%, 44%);
  /* text */
  --gray-950: hsl(230, 17%, 14%);
  /* toggle */
  --gray-400: hsl(230, 22%, 74%);

  /* # TYPOGRAPHY # */
  --ff-inter: "Inter", sans-serif;
  --fw-400: 400;
  --fw-700: 700;
}

/* ### CSS RESET ### */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

picture,
img,
svg {
  max-width: 100%;
  display: block;
}

/* ### UTILITY CLASSES ### */

.light {
  --main-bg: var(--white);
  --top-bg-pattern: var(--blue-50);
  --card-bg: var(--navy-50);
  --text: var(--gray-650);
  --text-accent: var(--gray-950);
  --bg-hover: #e1e3f0;
  --slider-before-clr: var(--white);
}

.dark {
  --main-bg: var(--gray-950);
  --top-bg-pattern: var(--gray-900);
  --card-bg: var(--navy-950);
  --text: var(--gray-400);
  --text-accent: var(--white);
  --bg-hover: #333a56;
  --slider-before-clr: var(--gray-950);
}

.positive {
  color: var(--green-500);
  font-weight: var(--fw-700);
}

.negative {
  color: var(--red-500);
  font-weight: var(--fw-700);
}

.facebook-border::before {
  background: var(--blue-600);
}

.twitter-border::before {
  background: var(--blue-500);
}

.instagram-border::before {
  background: linear-gradient(
    90deg,
    var(--insta-grd-1) 0%,
    var(--insta-grd-2) 40%,
    var(--insta-grd-3) 100%
  );
}

.youtube-border::before {
  background: var(--red-700);
}

.container {
  width: 85%;
  margin-inline: auto;
}

/* ### GENERAL STYLING ### */

body {
  font-family: var(--ff-inter);
  font-weight: var(--fw-400);
  background-color: var(--main-bg);
  position: relative;
  z-index: 0;
}

body::before {
  content: "";
  display: block;
  width: 100%;
  height: 270px;
  position: absolute;
  background-color: var(--top-bg-pattern);
  z-index: -1;
}

main {
  padding-block: 3rem;
}

/* ### SWITCH TOGGLE ### */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray-400);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: var(--slider-before-clr);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: linear-gradient(
    to right,
    var(--toggle-grd-1),
    var(--toggle-grd-2)
  );
}

input:focus + .slider {
  outline: 3px solid black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ### SOCIAL MEDIA DASBOARD ### */

/* # FOLLOWERS GRID # */

.dashboard-title {
  font-size: 1.6rem;
  color: var(--text-accent);
}

.followers-count {
  font-weight: var(--fw-700);
  color: var(--text);
  margin-top: 0.2rem;
}

.theme-toggle-container {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  padding-top: 1rem;
  border-top: 1px solid #898c9b;
  font-weight: var(--fw-700);
  color: var(--text);
}

.followers-grid {
  margin-top: 2.5rem;
  display: grid;
  gap: 1.5rem;
}

.followers__grid-cell {
  overflow: hidden;
  border-radius: 0.4rem;
  background-color: var(--card-bg);
  padding: 2rem 1.5rem 1.5rem;
  display: grid;
  justify-items: center;
  gap: 1.5rem;
  position: relative;
  z-index: 0;
  text-align: center;
}

.followers__grid-cell::before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  z-index: -1;
}

.followers__grid-cell .social-address {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--text);
  font-size: 0.9rem;
  font-weight: var(--fw-700);
}

.followers__grid-cell .followers {
  display: flex;
  flex-direction: column;
  font-size: 3.8rem;
  font-weight: var(--fw-700);
  color: var(--text-accent);
}

.followers__grid-cell .subtitle {
  font-size: 0.9rem;
  font-weight: var(--fw-400);
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--text);
}

.followers__grid-cell .status {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

/* ### OVERVIEW GRID ### */

.overview-title {
  margin-top: 1.4rem;
  color: var(--text);
  font-size: 1.8rem;
}

.overview-grid {
  margin-top: 1.5rem;
  display: grid;
  gap: 1rem;
}

.overview__grid-cell {
  display: grid;
  gap: 1.5rem;
  border-radius: 0.4rem;
  background-color: var(--card-bg);
  padding: 1.8rem 1.5rem 1.5rem;
}

.overview__grid-cell .header-section,
.overview__grid-cell .number-section {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.overview__grid-cell .header-section {
  color: var(--text);
  font-size: 1rem;
  font-weight: var(--fw-700);
}

.overview__grid-cell .number-section .number {
  font-size: 2.6rem;
  font-weight: var(--fw-700);
  color: var(--text-accent);
}

.overview__grid-cell .number-section .status {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.975rem;
}

/* ### ACTIVE STATES ### */

.followers__grid-cell:hover,
.overview__grid-cell:hover {
  background-color: var(--bg-hover);
  cursor: pointer;
}

/* ### MEDIA QUERIES ### */

@media (min-width: 40em) {
  .dashboard__intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .theme-toggle-container {
    border-top: unset;
    margin-top: unset;
  }

  .followers-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .overview-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .overview-title {
    margin-top: 3rem;
  }
}

@media (min-width: 77.5em) {
  .container {
    width: 80%;
  }

  .followers-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.8rem;
  }

  .overview-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.8rem;
  }
}
